.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
